<!DOCTYPE html>
<html>
    <head>
        <title>Rendez-vous</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>Nom</td>
                    <td><input type="text" name="nom" placeholder="insérer votre nom"></td>
                </tr>
                <tr>
                    <td>Prenom</td>
                    <td><input type="text" name="prenom" placeholder="insérer votre prenom"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" placeholder="insérer votre e-mail"></td>
                </tr>
                <tr>
                    <td>Nationalite</td>
                    <td><input type="text" name="nationalite" placeholder="quel est votre nationalite ?"></td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td><input type="text" name="genre" placeholder="quel est votre genre ?"></td>
                </tr>
                <tr>
                    <td>Jour</td>
                    <td><input type="text" name="jour" placeholder="Date du rendez-vous"></td>
                </tr>
                <tr>
                    <td>Heure</td>
                    <td><input type="text" name="heure" placeholder="heure du rendez-vous"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="bouton" value="soumettre"></td>
                </tr>
            </table>
        </form>
    </body>
</html>