{% extends "base.html" %}

{% block body %}
<h1>A propos du site :</h1>
  <p>Ce site a pour but de permettre de créer des Rendez-Vous entre un client et une personne responsable d'une entreprise</p>
  <img src="https://www.dynamique-entreprendre.com/wp-content/uploads/2018/01/organisation-rendez-vous-1.jpg">
{% endblock %}

