{% extends "base.html" %}

{% block body %}
    <h1>Production de pétrole</h1>
    <div id="chart_div"></div>
    <script>
    console.log({{ datas }});
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawLogScales);
    function drawLogScales() {
      
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Gauss');
      
      data.addRows({{ datas }});

      var options = {
        hAxis: {
          title: 'Année',
          logScale: false,
          format: "####"
        },
        vAxis: {
          title: 'millions de barils/jour',
          logScale: false
        },
        colors: ['#a52714', '#097138']
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
 </script>
{% endblock %}

{% block pter %}
 <h3>le block pter {{ name }}</h3>
 
 
{% endblock %}