{% extends "base.html" %}

{% block body %}

<table id="produits" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
            </tr>
        {% endfor %}    
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#produits').DataTable();
    } );
</script>
{% endblock %}

{% block pter %}

{% endblock %}

